<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/base.css') }}">
</head>
<body>
    <div class="mainBackground">
		<div class="contentsBackground" style="justify-content: flex-start;">
            <div style="font-size: 30px; font-weight: bold; margin-bottom: 10px ;">회원가입</div>
            <form id="signup-form" method="POST" action="/user/signup" onsubmit="beforeSubmit(event)">
                <div style="width:100%;  display: flex; margin-bottom: 5px;">
                    <div style=" width:90px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">아이디</div>
                    <input type="text" name="userid" id="userid" style="height:25px; width:200px; border-radius: 5px; border:none; margin-right:5px ;">
                    <input type="button" onclick="idCheck()" value="중복확인">
                    <p id="useridResult"></p>
                </div>
                <div style="width:100%;  display: flex; margin-bottom: 5px;">
                    <div style=" width:90px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">비밀번호</div>
                    <input type="password" name="pwd" id="pwd" style="height:25px; width:200px; border-radius: 5px; border:none">
                </div>
                <div style="width:100%;  display: flex; margin-bottom: 5px;">
                    <div style=" width:90px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">비밀번호확인</div>
                    <input type="password" name="pwdChk" id="pwdChk" style="height:25px; width:200px; border-radius: 5px; border:none">
                    <p id="pwdResult"></p>
                </div>
                <div style=" width: 100%; display: flex; justify-content: center; align-items: center;">
                    <input type="button" onclick="location.href = '/login'" style="height:25px; width:100px" value="취소">
                    <button type="submit" style="height:25px; width:100px; margin-left:10px ;">가입하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    let idCheckYN = false;

    async function idCheck() {
        const userid = document.getElementById("userid").value;
        const result = document.getElementById("useridResult");

        if (userid === "") {
            alert("아이디를 입력해주세요");
            return;
        }

        const response = await fetch(`/user/idchk?userid=${userid}`);
        const data = await response.json();
        if (data.exists) {
            result.textContent = "아이디가 이미 존재합니다.";  
            result.style.color = "red";
            idCheckYN = false;
        } else {
            result.textContent = "사용 가능한 아이디입니다.";  
            result.style.color = "green";
            idCheckYN = true;
        }
    }

    async function beforeSubmit(event) {
        event.preventDefault(); 
        const userid = document.getElementById("userid").value;
        const pwd = document.getElementById("pwd").value;
        const pwdChk = document.getElementById("pwdChk").value;

        if (userid === "") {
            alert("아이디를 입력해주세요");
            return false;
        } else if (pwd === "") {
            alert("비밀번호를 입력해주세요");
            return false;
        } else if (!idCheckYN) {
            alert("아이디 중복확인을 해주세요.");
            return false;
        } else if (pwd != pwdChk) {
            const pwdResult = document.getElementById("pwdResult");
            pwdResult.textContent = "비밀번호가 일치하지 않습니다.";  
            pwdResult.style.color = "red";
            return false;
        } else {
            document.getElementById("signup-form").submit();
        }
    }
</script>
</html>
