<!DOCTYPE html>
<html lang="en">
<body>
    <div>등록수정</div>
    <div>
        링크
        <input type="text">
    </div>
    <div>
        웹 이름
        <input type="text">
    </div>
    <div>
        카테고리
        <select>
            <option>즐겨찾기</option>
            <option>업무 활용 자료</option>
            <option>참고 자료</option>
            <option>교육 및 학습 자료</option>
            <option>기타</option>
        </select>
    </div>
    <div>
        공유
        <button>사용자 검색</button>  
    </div>
</body>
</html>