<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/base.css') }}">
</head>
<body>
    <div class="mainBackground">
		<div class="contentsBackground">
            <div  style="display: flex; justify-content: flex-end; width: 100%; padding: 5px; border-bottom: 2px solid black; ">
                <button onclick="location.href = '/login/signout'" style="margin-right:15px">로그아웃</button>
            </div>
            <div style="border-bottom: 2px solid black;  width: 100%; display: flex; align-items: center; justify-content: space-between; height: 40px; padding: 0 10px;">
                <div style="flex: 1; display: flex; justify-content: center;">
                    <div style="display: flex; align-items: center; gap: 5px; padding: 5px;">
                        <input type="text" id="search" style="width: 280px; height:25px">
                        <button onclick="searchWebLink()" style="height:30px; width:50px">검색</button>
                    </div>
                </div>
            </div>
        <div style="width:100%; border-bottom: 2px solid black; padding: 5px;">
            <div style="width:100%; text-align: center; font-weight: bold;">카테고리</div>
            <div style="width:100%; border-top:1px solid black; padding: 5px; display: flex; flex-wrap: wrap; justify-content: center;">
                <div>
                    <input type="checkbox" id="all" value="all" onClick="check(this)"  checked>
                    <label for="all" style="margin-right:5px ;">전체</label>
                </div>
                <div>
                    <input type="checkbox" id="mark" value="mark" onClick="check(this)" checked>
                    <label for="mark" style="margin-right:5px ;">즐겨찾기</label>
                </div>
                <div>
                    <input type="checkbox" id="task" value="task" onClick="check(this)" checked>
                    <label for="task" style="margin-right:5px ;">업무 활용 자료</label>
                </div>
                <div>
                    <input type="checkbox" id="resource" value="resource" onClick="check(this)" checked>
                    <label for="resource" style="margin-right:5px ;">참고 자료</label>
                </div>
                <div>
                    <input type="checkbox" id="edu" value="edu" onClick="check(this)" checked>
                    <label for="edu" style="margin-right:5px ;">교육 및 학습 자료</label>
                </div>
                <div>
                    <input type="checkbox" id="etc" value="etc" onClick="check(this)" checked>
                    <label for="etc" style="margin-right:5px ;">기타</label>
                </div>
            </div>
        </div>
	    <div style="border:1px solid black; padding: 5px; width: 100%;">
            <div style="display: flex; justify-content:flex-end; align-items: center; margin:5px;">
                <button onclick = "location.href = '/weblink/create/page'" style="margin-right: 10px; height:25px">등록</button>
            </div>
            <div id="listContainer">
                {% for item in data %}
                <div style="border:1px solid black; border-radius: 10px; width:100%-10px; height:80px; margin: 10px 10px; padding:10px; display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; flex-direction: column; align-items: center; font-size: 13px;">
                        <div>{{ item.created_by }} /
                        {% if item.category == "mark" %}
                            즐겨찾기
                        {% elif item.category == "task" %}
                            업무 활용 자료
                        {% elif item.category == "resource" %}
                            참고 자료
                        {% elif item.category == "edu" %}
                            교육 및 학습 자료
                        {% else %}
                            기타
                        {% endif %}</div>
                        <div>{{ item.create_date }}</div>
                    </div>
                    <div style="width:50%">
                        <a href="https://{{ item.url }}" style="text-decoration-line: none; font-size: 23px;">{{ item.name }}</a>
                    </div>
                    {% if item.update_YN %}
                    <div>
                        <div>
                        <form method="post" action="/weblink/update/page">
                            <input type="hidden" name="webLinkNo" value="{{ item.webLinkNo }}">
                            <button type="submit" style="margin-bottom: 5px; height:25px;">수정</button> 
                        </form>
                    {% endif %}
                    {% if item.userNo ==  item.shareUserNo %}
                        <form method="post" action="/weblink/delete">
                            <input type="hidden" name="webLinkNo" value="{{ item.webLinkNo }}">
                            <button type="submit" style="margin-bottom: 5px; height:25px;">삭제</button> 
                        </form> 
                        <form method="get" action="/weblink/share">
                            <input type="hidden" name="webLinkNo" value="{{ item.webLinkNo }}">
                            <button type="submit" style="height:25px;">공유</button> 
                        </form>
                        </div>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script>

    let category = ["mark", "task", "resource", "edu", "etc"];

    async function check(box) {
        if (box.id === "all") {
            let checkbox = document.querySelectorAll("input[type='checkbox']");
            checkbox.forEach(cb => {
                cb.checked = box.checked;
                if (cb.value !== "all") updateCategorySelection(cb.checked, cb.value);
            });
        } else {
            updateCategorySelection(box.checked, box.value);
            document.getElementById("all").checked = category.length === 5;
        }

        searchWebLink(); 
    }

    function updateCategorySelection(isChecked, value) {
        if (isChecked) {
            if (!category.includes(value)) category.push(value);
        } else {
            category = category.filter(cat => cat !== value);
        }
    }

    async function searchWebLink() {
        const searchData = document.getElementById("search").value;

        const formData = new FormData();
        formData.append("search", searchData);

        const response = await fetch("/weblink/search", {
            method: "POST",
            body: formData
        });

        if (response.ok) {
            data = await response.json()

            const listContainer = document.getElementById("listContainer");
            listContainer.innerHTML = "";

            data
            .filter(item => category.includes(item.category))
            .forEach(item => {const listItem = document.createElement("div");
            listItem.className = "list-item";
            listItem.dataset.id = item.webLinkNo;
            listItem.innerHTML = `
                <div style="border:1px solid black; border-radius: 10px; width:100%-10px; height:80px; margin: 10px 10px; padding:10px; display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; flex-direction: column; align-items: center; font-size: 13px;">
                        <div>${ item.created_by } /
                            ${item.category === "mark" ? "즐겨찾기" :
                            item.category === "task" ? "업무 활용 자료" :
                            item.category === "resource" ? "참고 자료" :
                            item.category === "edu" ? "교육 및 학습 자료" : "기타"}
                        </div>
                        <div>${ item.create_date }</div>
                    </div>
                    <div style="width:50%">
                        <a href="https://${ item.url }" style="text-decoration-line: none; font-size: 23px;">${ item.name }</a>
                    </div>
                    <div>
                        ${item.update_YN  ? `
                        <form method="post" action="/weblink/update/page">
                            <input type="hidden" name="webLinkNo" value="${item.webLinkNo}">
                            <button type="submit" style="margin-bottom: 5px; height:25px;">수정</button> 
                        </form>
                    `:''}
                    ${item.userNo === item.shareUserNo ? `
                        <form method="post" action="/weblink/delete">
                            <input type="hidden" name="webLinkNo" value="${item.webLinkNo}">
                            <button type="submit" style="margin-bottom: 5px; height:25px;">삭제</button> 
                        </form>
                        <form method="post" action="/weblink/share">
                            <input type="hidden" name="webLinkNo" value="${item.webLinkNo}">
                            <button type="submit" style="height:25px;">공유</button> 
                        </form>
                    `:''}
                    </div>
                </div>
                `;
                listContainer.appendChild(listItem);
            });

        } else {
            alert("검색에 실패했습니다.");
        }
    }
</script>
</html>