<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/base.css') }}">
</head>
<body>
    <div class="mainBackground">
		<div class="contentsBackground">
            <div style="font-size: 30px; font-weight: bold; margin-bottom: 10px ;"> {{mode}}</div>
            <form  method="POST" action="{{ '/weblink/update' if data else '/weblink/create' }}" >
                {% if data %}
                    <input type="hidden" name="webLinkNo" value="{{ data.webLinkNo if data.webLinkNo else '' }}">
                {% endif %}
                <div style="width:100%;  display: flex; margin-bottom: 5px;">
                    <div style=" width:70px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">링크</div>
                    <input type="text" name="url" style="height:25px; width:200px; border-radius: 5px; border:none" value="{{ data.url if data else '' }}">
                </div>
                <div style="width:100%;  display: flex; margin-bottom: 5px;">
                    <div style=" width:70px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">웹 이름</div>
                    <input type="text" name="name" style="height:25px; width:200px; border-radius: 5px; border:none" value="{{ data.name if data else '' }}">
                </div>
                <div style="width:100%; display: flex; margin-bottom: 10px;">
                    <div  style="width:70px; display: flex; align-items: center; justify-content: center; margin-right: 10px;">카테고리</div>
                    <select name="category" style="  width:200px; height:25px;">
                        <option value="mark" {% if data and data.category == "mark" %}selected{% endif %}>즐겨찾기</option>
                        <option value="task" {% if data and data.category == 'task' %}selected{% endif %}>업무 활용 자료</option>
                        <option value="resource" {% if data and data.category == 'resource' %}selected{% endif %}>참고 자료</option>
                        <option value="edu" {% if data and data.category == 'edu' %}selected{% endif %}>교육 및 학습 자료</option>
                        <option value="etc" {% if data and data.category == 'etc' %}selected{% endif %}>기타</option>
                    </select>
                </div>
                <div style=" width: 100%; display: flex; justify-content: center; align-items: center;">
                    <input type="button" onclick="location.href = '/weblink/'" style="height:25px; width:100px" value="취소">
                    <button type="submit" style="height:25px; width:100px; margin-left:10px ;">등록</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>